<div class="control-nav hidden">
    <nav id="menu">
        <ul id="menu-nav" class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li class="hidden"><a href="#about">Who I Am</a></li>
            <li class="hidden"><a href="#experience">Experience</a></li>
            <li class="hidden"><a href="#skills">Skills</a></li>
            <li class="hidden"><a href="#work">Showcase</a></li>
            <li class="hidden"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</div>