.highlight code,
.highlight pre {
    color: #dddddd;
    background-color: #1D1F21;
}

.highlight .c,
.highlight .c1,
.highlight .cm,
.highlight .cp {
    color: #636363;
}

.highlight .nt,
.highlight .nc,
.highlight .kd,
.highlight .k {
    color: #6c9ef8;
}

.highlight .s,
.highlight .m,
.highlight .s1,
.highlight .s2 {
    color: #d89333;
}

.highlight .n,
.highlight .na,
.highlight .nx,
.highlight .nl,
.highlight .py {
    color: #b77fdb;
}

.highlight .p {
    color: #dddddd;
}

.highlight .kc {
    color: #15a5a5;
}

.highlight .mi {
    color: #85a300;
}
